

*{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    
}

#container{
    width: 80vw;
    margin: auto;
    padding-top: 20px;
}

#canvas{
    margin-top: 25px;
    border: 1.5px solid;
}

button{
    padding: 15px;
    margin-top: 20px;
}

#label-container{
    margin-top: 25px;
    display: none;
}

#bgtext{
    color: gray;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 20px;
}

#bgTextDiv{
    top: 50%;
    left: 20%;
}

.flash-red {
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 999;
    animation: flash 0.5s linear infinite alternate;
  }
  
  @keyframes flash {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  

  #loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; 
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .hide-loading #loading-overlay {
    display: none;
  }
  